p {
    color: skyblue;
}

h1 {
    font-style: bold;
    color: blue;
}

h4 {
    font-size: 20;
    color: gray;
}

html {
    text-align: center;
    background: linear-gradient(to bottom right, purple, pink) no-repeat;
    height: 100%;
    backround-size: cover;
}
